body {
    background-color: #C1BCB9; <!-- #ffe39f -->
}

.parallax-container {
  min-height: 360px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#profile-image {
    width: 200px;
    max-height: 200px;
    border: 5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    bottom: -25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
}

#google-fab{background-color: #DD4B39}
#github-gray{background-color: #333}
#linkedin-fab{background-color: #0077B5}
#twitter-fab{background-color: #55ACEE}
#facebook-fab{background-color: #3B5998}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.social-icon {
    margin-bottom: 10px;
}

#top_wrapper {
    position: relative;
    overflow: visible;
}

#button-row {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#button-row span {
    display: table-cell;
    text-align: center;
}

.card-title {
    font-family: 'Acme', sans-serif;
}

#about-me-text {
    font-family: 'Montserrat', sans-serif;;
    font-size: medium;
}