/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

body {
    background: rgb(247,247,247)
}

header, body {
    padding-left: 230px;
}

@media only screen and (max-width : 992px) {
    header, body, footer {
        padding-left: 0;
    }
}

.side-nav {
    width: 230px;
}

#slide-out li div {
    width: 100%;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#profile-image {
    width: 300px;
    height: 300px;
}

/* tablets and desktops ----------- */
@media only screen  and (min-width : 601px) {
    #about-me-row {
        display: flex;
    }

    #profile-image-holder {
        align-items: stretch;
    }

    #profile-image-holder > div {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

ul.browser-default li {
    list-style-type: initial;
}

.collapsible-body ul {
    font-size: medium;
}

#project-staggered-list li {
    opacity: 0;
}

.skill-container {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #80cbc4;
    border-radius: 2px;
    margin: 5px auto;
}

.fill {
    height: 100%;
    width: 0;
    background-color: #009688;
    border-radius: 2px;
    line-height: 50px;
    text-align: left;
}

.fill span {
    font-size: large;
    color: white;
    padding-left: 20px;
}

#mobile-top-nav {
    height: 64px;
}

#mobile-top-nav div {
    width: 100%;
}

#type-section {
    padding: 50px;
    width: 100%;
}

#about-me-para {
    font-weight: 100;
    font-size: large;
}

#connect-section i {
    padding: 10px;
}

#google-fab {
    background-color: #dd4b39
}


#github-gray {
    background-color:#333
}

#linkedin-fab {
    background-color: #0077B5
}